
/** line & -webkit-min-device-pixel-ratio 适配于直线分割 适配器多种颜色**/
.line-bottom, .line-top {
    display: block;
    width: 100%;
}

.list .line-bottom, .list .line-top {
    margin: 1px 0;
}

.item + .line-bottom, .item + .line-top, .item.line-bottom, .item.line-top {
    margin: 1px 0;
}

.line-left, .line-right {
    display: inline-block;
    height: 100%;
}

.line-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #444;
}

.line-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #444;
}

.line-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #444;
}

.line-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #444;
}

.line-bottom.line-stable {
    border-bottom-color: #b2b2b2;
}

.line-top.line-stable {
    border-top-color: #b2b2b2;
}

.line-left.line-stable {
    border-left-color: #b2b2b2;
}

.line-right.line-stable {
    border-right-color: #b2b2b2;
}

.line-bottom.line-positive {
    border-bottom-color: #0c60ee;
}

.line-top.line-positive {
    border-top-color: #0c60ee;
}

.line-left.line-positive {
    border-left-color: #0c60ee;
}

.line-right.line-positive {
    border-right-color: #0c60ee;
}

.line-bottom.line-calm {
    border-bottom-color: #0a9dc7;
}

.line-top.line-calm {
    border-top-color: #0a9dc7;
}

.line-left.line-calm {
    border-left-color: #0a9dc7;
}

.line-right.line-calm {
    border-right-color: #0a9dc7;
}

.line-bottom.line-balanced {
    border-bottom-color: #28a54c;
}

.line-top.line-balanced {
    border-top-color: #28a54c;
}

.line-left.line-balanced {
    border-left-color: #28a54c;
}

.line-right.line-balanced {
    border-right-color: #28a54c;
}

.line-bottom.line-energized {
    border-bottom-color: #e6b500;
}

.line-top.line-energized {
    border-top-color: #e6b500;
}

.line-left.line-energized {
    border-left-color: #e6b500;
}

.line-right.line-energized {
    border-right-color: #e6b500;
}

.line-bottom.line-assertive {
    border-bottom-color: #e42112;
}

.line-top.line-assertive {
    border-top-color: #e42112;
}

.line-left.line-assertive {
    border-left-color: #e42112;
}

.line-right.line-assertive {
    border-right-color: #e42112;
}

.line-bottom.line-royal {
    border-bottom-color: #6b46e5;
}

.line-top.line-royal {
    border-top-color: #6b46e5;
}

.line-left.line-royal {
    border-left-color: #6b46e5;
}

.line-right.line-royal {
    border-right-color: #6b46e5;
}

.line-bottom.line-dark {
    border-bottom-color: #111;
}

.line-top.line-dark {
    border-top-color: #111;
}

.line-left.line-dark {
    border-left-color: #111;
}

.line-right.line-dark {
    border-right-color: #111;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

    .line-bottom, .line-top {
        display: block;
        width: 100%;
        height: 1px;
    }

    .list .line-bottom, .list .line-top {
        margin: 1px 0;
    }

    .item + .line-bottom, .item + .line-top, .item.line-bottom, .item.line-top {
        margin: 1px 0;
    }

    .line-bottom {
        border-bottom: none;
        background-image: -webkit-linear-gradient(0deg, #444, #444 50%, transparent 50%);
        background-image: linear-gradient(0deg, #444, #444 50%, transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }

    .line-top {
        border-top: none;
        background-image: -webkit-linear-gradient(180deg, #444, #444 50%, transparent 50%);
        background-image: linear-gradient(180deg, #444, #444 50%, transparent 50%);
        background-position: top;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }

    .line-left, .line-right {
        display: inline-block;
        height: 100%;
        width: 1px;
    }

    .line-left {
        border-left: none;
        background-image: -webkit-linear-gradient(90deg, #444, #444 50%, transparent 50%);
        background-image: linear-gradient(90deg, #444, #444 50%, transparent 50%);
        background-position: left;
        background-size: 1px 100%;
        background-repeat: no-repeat;
    }

    .line-right {
        border-right: none;
        background-image: -webkit-linear-gradient(90deg, #444, #444 50%, transparent 50%);
        background-image: linear-gradient(270deg, #444, #444 50%, transparent 50%);
        background-position: right;
        background-size: 1px 100%;
        background-repeat: no-repeat;
    }

    .line-bottom.line-stable {
        background-image: -webkit-linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
        background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    }

    .line-top.line-stable {
        background-image: -webkit-linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
        background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    }

    .line-left.line-stable {
        background-image: -webkit-linear-gradient(90deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
        background-image: linear-gradient(90deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    }

    .line-right.line-stable {
        background-image: -webkit-linear-gradient(90deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
        background-image: linear-gradient(270deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    }

    .line-bottom.line-positive {
        background-image: -webkit-linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
        background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    }

    .line-top.line-positive {
        background-image: -webkit-linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%);
        background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%);
    }

    .line-left.line-positive {
        background-image: -webkit-linear-gradient(90deg, #0c60ee, #0c60ee 50%, transparent 50%);
        background-image: linear-gradient(90deg, #0c60ee, #0c60ee 50%, transparent 50%);
    }

    .line-right.line-positive {
        background-image: -webkit-linear-gradient(90deg, #0c60ee, #0c60ee 50%, transparent 50%);
        background-image: linear-gradient(270deg, #0c60ee, #0c60ee 50%, transparent 50%);
    }

    .line-bottom.line-calm {
        background-image: -webkit-linear-gradient(0deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
        background-image: linear-gradient(0deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    }

    .line-top.line-calm {
        background-image: -webkit-linear-gradient(180deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
        background-image: linear-gradient(180deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    }

    .line-left.line-calm {
        background-image: -webkit-linear-gradient(90deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
        background-image: linear-gradient(90deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    }

    .line-right.line-calm {
        background-image: -webkit-linear-gradient(90deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
        background-image: linear-gradient(270deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    }

    .line-bottom.line-balanced {
        background-image: -webkit-linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
        background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
    }

    .line-top.line-balanced {
        background-image: -webkit-linear-gradient(180deg, #28a54c, #28a54c 50%, transparent 50%);
        background-image: linear-gradient(180deg, #28a54c, #28a54c 50%, transparent 50%);
    }

    .line-left.line-balanced {
        background-image: -webkit-linear-gradient(90deg, #28a54c, #28a54c 50%, transparent 50%);
        background-image: linear-gradient(90deg, #28a54c, #28a54c 50%, transparent 50%);
    }

    .line-right.line-balanced {
        background-image: -webkit-linear-gradient(90deg, #28a54c, #28a54c 50%, transparent 50%);
        background-image: linear-gradient(270deg, #28a54c, #28a54c 50%, transparent 50%);
    }

    .line-bottom.line-energized {
        background-image: -webkit-linear-gradient(0deg, #e6b500, #e6b500 50%, transparent 50%);
        background-image: linear-gradient(0deg, #e6b500, #e6b500 50%, transparent 50%);
    }

    .line-top.line-energized {
        background-image: -webkit-linear-gradient(180deg, #e6b500, #e6b500 50%, transparent 50%);
        background-image: linear-gradient(180deg, #e6b500, #e6b500 50%, transparent 50%);
    }

    .line-left.line-energized {
        background-image: -webkit-linear-gradient(90deg, #e6b500, #e6b500 50%, transparent 50%);
        background-image: linear-gradient(90deg, #e6b500, #e6b500 50%, transparent 50%);
    }

    .line-right.line-energized {
        background-image: -webkit-linear-gradient(90deg, #e6b500, #e6b500 50%, transparent 50%);
        background-image: linear-gradient(270deg, #e6b500, #e6b500 50%, transparent 50%);
    }

    .line-bottom.line-assertive {
        background-image: -webkit-linear-gradient(0deg, #e42112, #e42112 50%, transparent 50%);
        background-image: linear-gradient(0deg, #e42112, #e42112 50%, transparent 50%);
    }

    .line-top.line-assertive {
        background-image: -webkit-linear-gradient(180deg, #e42112, #e42112 50%, transparent 50%);
        background-image: linear-gradient(180deg, #e42112, #e42112 50%, transparent 50%);
    }

    .line-left.line-assertive {
        background-image: -webkit-linear-gradient(90deg, #e42112, #e42112 50%, transparent 50%);
        background-image: linear-gradient(90deg, #e42112, #e42112 50%, transparent 50%);
    }

    .line-right.line-assertive {
        background-image: -webkit-linear-gradient(90deg, #e42112, #e42112 50%, transparent 50%);
        background-image: linear-gradient(270deg, #e42112, #e42112 50%, transparent 50%);
    }

    .line-bottom.line-royal {
        background-image: -webkit-linear-gradient(0deg, #6b46e5, #6b46e5 50%, transparent 50%);
        background-image: linear-gradient(0deg, #6b46e5, #6b46e5 50%, transparent 50%);
    }

    .line-top.line-royal {
        background-image: -webkit-linear-gradient(180deg, #6b46e5, #6b46e5 50%, transparent 50%);
        background-image: linear-gradient(180deg, #6b46e5, #6b46e5 50%, transparent 50%);
    }

    .line-left.line-royal {
        background-image: -webkit-linear-gradient(90deg, #6b46e5, #6b46e5 50%, transparent 50%);
        background-image: linear-gradient(90deg, #6b46e5, #6b46e5 50%, transparent 50%);
    }

    .line-right.line-royal {
        background-image: -webkit-linear-gradient(90deg, #6b46e5, #6b46e5 50%, transparent 50%);
        background-image: linear-gradient(270deg, #6b46e5, #6b46e5 50%, transparent 50%);
    }

    .line-bottom.line-dark {
        background-image: -webkit-linear-gradient(0deg, #111, #111 50%, transparent 50%);
        background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    }

    .line-top.line-dark {
        background-image: -webkit-linear-gradient(180deg, #111, #111 50%, transparent 50%);
        background-image: linear-gradient(180deg, #111, #111 50%, transparent 50%);
    }

    .line-left.line-dark {
        background-image: -webkit-linear-gradient(90deg, #111, #111 50%, transparent 50%);
        background-image: linear-gradient(90deg, #111, #111 50%, transparent 50%);
    }

    .line-right.line-dark {
        background-image: -webkit-linear-gradient(90deg, #111, #111 50%, transparent 50%);
        background-image: linear-gradient(270deg, #111, #111 50%, transparent 50%);
    }

}
